# Ignore secrets and environment files
secrets/
.env

# Ignore Node.js dependencies
node_modules/

# Ignore build outputs
dist/
build/

# Ignore logs
*.log

# Ignore macOS-specific files
.DS_Store

# Ignore Git LFS BFG and mirror directories
tiedottelija.git/
tiedottelija.git.bfg-report/
