# Ignore secrets and environment files
secrets/
.env
*.env
**/secrets/*.json

#data
/src/data/*.json

#packets-lockfile
**/src/package-lock.json
package-lock.json

# Ignore Node.js dependencies
node_modules/

# Ignore build outputs
dist/
build/

install_location.env

# Ignore logs
*.log
#just making sure
bot.log 
logs/

# Ignore macOS-specific files
.DS_Store

# Ignore IDE-specific files
.vscode/
.idea/
*.code-workspace

# Ignore OS-specific files
Thumbs.db

# Ignore Git LFS BFG and mirror directories
tiedottelija.git/
tiedottelija.git.bfg-report/

# Ignore other temporary files and directories
tmp/
*.tmp
*.swp

#skibidi
reboot.sh.bak
*.sh.bak
*.bak